In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [71]:
# Write your code for importing the csv file here

movies = pd.read_csv( "Movie+Assignment+Data.csv" )
movies.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [72]:
movies.shape

(5043, 28)

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [73]:
# Write your code for inspection here

print( f"Movies Data Columns :- { movies.columns }\n" )

print( f"Movies Data Shape :- { movies.shape }\n" )

print( f"Movies Data dtypes :- { movies.dtypes }\n" )

print( f"Type of Movies Data dtypes :- { type( movies.dtypes ) }\n" )

Movies Data Columns :- Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Movies Data Shape :- (5043, 28)

Movies Data dtypes :- color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Type of Movies Data dtypes :- <class 'pandas.core.series.Series'>

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [74]:
# Write your code for column-wise null count here

col_null = movies.isnull().sum( axis = 0 )
col_null

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [75]:
# Write your code for row-wise null count here

movies.isnull().sum( axis = 1 )

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [76]:
# Write your code for column-wise null percentages here

# movies.shape[0]

( col_null/movies.shape[0] ) * 100

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [78]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

movies = movies.drop( ['color'
, 'director_facebook_likes'
, 'actor_1_facebook_likes'
, 'actor_2_facebook_likes'
, 'actor_3_facebook_likes'
, 'actor_2_name'
, 'cast_total_facebook_likes'
, 'actor_3_name'
, 'duration'
, 'facenumber_in_poster'
, 'content_rating'
, 'country'
, 'movie_imdb_link'
, 'aspect_ratio'
, 'plot_keywords'], axis = 1 )

print( f"Movies Data Shape :- { movies.shape }\n" )

movies.head()

Movies Data Shape :- (5043, 13)

       director_name  num_critic_for_reviews  ...  imdb_score movie_facebook_likes
0      James Cameron                   723.0  ...         7.9                33000
1     Gore Verbinski                   302.0  ...         7.1                    0
2         Sam Mendes                   602.0  ...         6.8                85000
3  Christopher Nolan                   813.0  ...         8.5               164000
4        Doug Walker                     NaN  ...         7.1                    0

[5 rows x 13 columns]

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [102]:
# Write your code to find out such rows here

col_null = movies.isnull().sum( axis = 0 )

col_null_percent = ( col_null/movies.shape[0] ) * 100

col_more_than_5_percent_null = list( col_null_percent[ col_null_percent > 5 ].index )

print( f"Columns needs to be dropped :- { col_more_than_5_percent_null }\n" )

rows_needs_to_be_droped = movies.loc[ :, col_more_than_5_percent_null ].isnull().sum( axis = 1 )
rows_needs_to_be_droped = list( rows_needs_to_be_droped[ rows_needs_to_be_droped > 0 ].index )

print( f"Before Drop, shape = { movies.shape }" )

print( f"During Drop, shape = { movies.drop( rows_needs_to_be_droped, axis=0 ).shape }" )

print( f"After Drop, shape = { movies.shape }" )

Columns needs to be dropped :- ['gross', 'budget']

Before Drop, shape = (5043, 13)
During Drop, shape = (3891, 13)
After Drop, shape = (5043, 13)

(3891, 13)

In [103]:
movies.shape

(3891, 13)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [ ]:
#Write your code for dropping the rows here
movies = movies.drop( rows_needs_to_be_droped, axis=0 )
movies.shape

In [120]:
d = {'X': pd.Series( [78,96,80] ), 'Y': pd.Series( [84,89,83,86] ),'Z': pd.Series( [86,97,96,72,83] ) }

df = pd.DataFrame( d )
df['X'].fillna( -100, inplace = True )

df

       X     Y   Z
0   78.0  84.0  86
1   96.0  89.0  97
2   80.0  83.0  96
3 -100.0  86.0  72
4 -100.0   NaN  83

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [126]:
# Write your code for filling the NaN values in the 'language' column here

print( f"Before Language Null Fixing :- \n { movies.isnull().sum() } \n" )

movies['language'] = movies['language'].fillna( 'English' )

print( f"After Language Null Fixing :- \n { movies.isnull().sum() } \n" )

Before Language Null Fixing :-
 director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              3
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  3
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

After Language Null Fixing :-
 director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              3
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  0
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64



-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [ ]:
# Write your code for checking number of retained rows here
# movies.isnull().sum( axis = 1 )

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [ ]:
# Write your code for creating the profit column here

In [ ]:
# Write your code for sorting the dataframe here

In [ ]:
# Write your code to get the top 10 profiting movies here

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [ ]:
# Write your code for dropping duplicate values here

In [ ]:
# Write code for repeating subtask 2 here

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [ ]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

In [ ]:
# Write your code to extract top foreign language films from 'IMDb_Top_250' here

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [ ]:
# Write your code for extracting the first two genres of each movie here

In [ ]:
# Write your code for grouping the dataframe here

In [ ]:
# Write your code for getting the 5 most popular combo of genres here

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [ ]:
# Write your code for creating three new dataframes here
# Include all movies in which Meryl_Streep is the lead

In [ ]:
# Include all movies in which Leo_Caprio is the lead

In [ ]:
# Include all movies in which Brad_Pitt is the lead

In [ ]:
# Write your code for combining the three dataframes here

In [ ]:
# Write your code for grouping the combined dataframe here

#3. Group the combined dataframe using the `actor_1_name` column.

In [ ]:
# Write the code for finding the mean of critic reviews and audience reviews here
#4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

**Checkpoint 6:** `Leonardo` has aced both the lists!